.search-car-owner {
  padding-top: 10px;
  width: 100%;
}

.ant-select-dropdown-menu {
  width: 100%;
  min-height: 100px;
}

.ant-select-dropdown-menu-item {
  color: orangered;
  font-weight: bold;
}

.ant-select-dropdown-menu-item:hover {
  background-color: orangered;
  color: white;
}

.search-icon {
  float: right;
  color: orangered;
  margin-top: 5px;
}

.left-select {
  float: left;
}

.right-select {
  float: right;
}
