.app-footer {
  background-color: black;

  .question-text {
    color: white;
    font-size: 14px;
  }

  .unleash-text {
    color: orangered;
    font-size: 20px;
    font-weight: bold;
  }

  .content {
    align-text: left;
  }

  .phone-icon {
    color: orangered;
  }

  .photo {
    margin-top: 5px;
  }
}
