.google-login-container {
  font-size: 20px;
  font-weight: bold;
  color: orangered;
  content-align: center;
  margin-top: 200px;


  .google-login {
    content-align: center;
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}
