.google-login-container {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: orangered;

  .google-login {
    content-align: center;
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}
