.app-header {
  background-color: black;
  content-align: center;
  font-size: 34px;
  font-weight: bold;

  .logo-first-part {
    color: white;
  }

  .logo-second-part {
    color: orangered;
  }
};
